@model BookHiveDB.Domain.Models.AddToRoleModel
<h2>Додади улога на соодветниот корисник</h2>
<br />
<br />

@using (Html.BeginForm("AddRole", "Account"))
{
    <div class="form-group">
        @Html.DropDownListFor(x => x.Username, new SelectList(Model.Usernames), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DropDownListFor(x => x.SelectedRole, new SelectList(Model.Roles), new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-default">Save</button>
}
